# virtual environment
/backend/.venv/
# Python cache files
/backend/__pycache__/
# database file (will change this later)
/backend/instance/
# files from previous architecture
/archive/
# node_modules
/frontend/node_modules/
__pycache__/
