#root {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;

  padding-top: max(20px, env(safe-area-inset-top));
  padding-right: max(1rem, env(safe-area-inset-right));
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: max(1rem, env(safe-area-inset-left));
}

@media (min-width: 768px) {
  #root {
    max-width: 750px;
  }
}