:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #f1f0f0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fafff9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.transaction-table {
  margin: 0 auto;      /* centers horizontally */
  width: 100%;
  max-width: 900px;    /* optional: limit table width */
  border-collapse: collapse;
}

.transaction-table td,
.transaction-table th {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: center;
}

.summary h5, h4 {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.summary-budget {
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem 2rem;
  width: 115px;
  padding: 0.5rem 0;
}

.summary-budget p {
  font-size: xx-small;
  margin: 0;
}

.summary-budget h5, h4, p {
  padding-left: 0.5rem;
}

.summary-spent {
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem 2rem;
  width: 115px;
  padding: 0.5rem 0;
}

.summary-spent p {
  font-size: xx-small;
  margin: 0;
}

.summary-spent h5, h4, p {
  padding-left: 0.5rem;
}

.summary-remaining {
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem 2rem;
  width: 115px;
  padding: 0.5rem 0;
}

.summary-remaining p {
  font-size: xx-small;
  margin: 0;
}

.summary-remaining h5, h4, p {
  padding-left: 0.5rem;
}