:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #f1f0f0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fafff9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.transaction-table {
  margin: 1rem auto;
  width: 100%;
  max-width: 900px;    /* optional: limit table width */
  border-collapse: collapse;
  padding: 1rem;
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-table h4 {
  margin: 0;
  font-size: 1.5em;
  padding-left: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #f1f0f0;
  text-align: left;
  justify-content: flex-start;
}

.transaction-table td,
.transaction-table th {
  text-align: left;
  border-bottom: 1px solid #f1f0f0;
  padding: 0.5rem 0;
}

.transaction-table th:nth-child(1),
.transaction-table td:nth-child(1) {
  width: 25%;
}

.transaction-table th:nth-child(2),
.transaction-table td:nth-child(2) {
  width: 25%;
}

.transaction-table th:nth-child(3),
.transaction-table td:nth-child(3) {
  width: 50%;
}

.summary {
  display: flex;
  justify-content: space-between;
  max-width: calc(400px + 2rem);
  margin: 0 auto;
}

.summary h5, h4 {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.summary-budget {
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem 0;
  width: 115px;
  padding: 0.5rem 0;
}

.summary-budget p {
  font-size: xx-small;
  margin: 0;
}

.summary-budget h5, h4, p {
  padding-left: 0.5rem;
}

.summary-spent {
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem 0;
  width: 115px;
  padding: 0.5rem 0;
}

.summary-spent p {
  font-size: xx-small;
  margin: 0;
}

.summary-spent h5, h4, p {
  padding-left: 0.5rem;
}

.summary-remaining {
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem 0;
  width: 115px;
  padding: 0.5rem 0;
}

.summary-remaining p {
  font-size: xx-small;
  margin: 0;
}

.summary-remaining h5, h4, p {
  padding-left: 0.5rem;
}

.add-transaction-form {
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem auto;
  max-width: 400px;
  padding: 1rem;
}

.add-transaction-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.add-transaction-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
}

.add-transaction-form input#date {
  width: 398px;
}

.add-transaction-form input#amount {
  width: 398px;
}

.add-transaction-form input#memo {
  width: 398px;
}

.add-transaction-form p {
  margin-bottom: 0;
  padding-left: 0;
}

.add-transaction-form button {
  margin-top: 1rem;
  background-color: #e5e5e5;
}

.add-transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0;
  border-bottom: 1px solid #f1f0f0;
}

.add-transaction-header h4 {
  margin: 0;
  font-size: 1.5em;
  padding-left: 0;
}

.add-transaction-header svg {
  cursor: pointer;
  font-size: 1.5em;
}

.add-transaction-header svg:hover {
  opacity: 0.7;
}